section {
    position: relative;
    display: flex;
    align-items: top;
    padding-top: 250px;
    margin-bottom: 80px;
    max-width: 1920px;
    width: 100vw;
}

.request {
    font-size: 121px;
    font-weight: 400;
    width: 50vw;
    display: flex;
    justify-content: center;
    padding-left: 5vw;
    margin-right: 1vw;
    min-width: 500px;
    hyphens: auto;
}

.self-presentation {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 23px;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.right-side-of-self-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5vw;
    margin-left: 1vw;
    min-width: 300px;

    .button-container {
        margin-top: 50px;

        a {
            margin-top: 40px;
            background-color: white;
            border: 2px solid #5988FF;
            border-radius: 10px;
            padding: 15px 30px 15px 30px;
            color: #5988FF;
            font-size: 23px;
            font-weight: 400;
            width: 273px;
            height: 67px;
            margin-bottom: 20px;
            background-image: linear-gradient(to right, #ffffff 0%, rgb(255, 255, 255) 100%);
            transition: color 1s ease, background-image 3s ease;
            text-decoration: none;

            &:hover {
                cursor: pointer;
                color: white;
                border: 2px solid rgb(8, 73, 242);
                background-image: linear-gradient(to right, #83a6ff 0%, rgb(8, 73, 242) 100%);
                width: 283px;
                height: 77px;
                margin-bottom: 10px;
                border-color: white;
            }
        }
    }
}

.ellipse {
    width: 82px;
    height: 82px;
    position: absolute;
    left: 75%;
    top: 15%;
    opacity:0.4;
    animation: scaleAnimation 4s infinite linear;
}

@media(max-width:1245px){
    #self-presentation{
        flex-direction: column;
        align-items:center;
        padding-top:100px;
    }
}

@media(max-width:700px){

    .self-presentation{
        max-width:80vw;
    }
    
    .request{
        line-height:120px;
        text-align: center;
    }
}

@media(max-width:520px){
    .request{
        font-size: 70px;
        min-width: fit-content;
    }
}

@media(max-width:450px){
    .self-presentation{
        p{
            font-size:18px;
        }
    }
}

// @media(max-width:1041px) {

//     .request {
//         font-size: 6em;
//         padding-left: 2vw;
//         min-width: 0;
//     }

//     .right-side-of-self-presentation {
//         padding-right: 1vw;

//     }

//     .self-presentation {
//         margin-right: 5px;
//     }
// }

// @media(max-width:975px) {
//     .request-german {
//         font-size: 5em;
//     }
// }

// @media(max-width:650px) {
//     .request {
//         line-height: 70px;
//     }

//     .request-german {
//         font-size: 3em;
//     }

//     .self-presentation {
//         margin-top: 0;
//     }
// }

// @media(max-width:515px) {
//     .request-german {
//         min-width: auto;
//     }
// }

// @media(max-width:460px) {
//     .request-german {
//         font-size: 2em;
//     }
// }

// @media(max-width:900px) {
//     .request {
//         font-size: 80px;
//     }
// }

// @media (max-width:840px) {
//     section {
//         padding-top: 150px;
//     }

//     .ellipse {
//         top: 10%;
//     }
// }

// @media(max-width:650px) {
//     #self-presentation {
//         flex-direction: column;
//         align-items: center;
//     }

//     .self-presentation{
//         max-width:80vw;
//         font-size:20px;
//     }

//     .request {
//         margin-bottom: 50px;
//     }
// }

// @media(max-width:370px) {
//     .ellipse {
//         left: 70%;
//         top: 9%;
//     }

//     .right-side-of-self-presentation {
//         padding-right: 0;
//     }

//     .request {
//         font-size: 4em;
//         padding: 0;
//         line-height: 70px;
//     }

//     .self-presentation {
//         max-width:90vw;
//     }
// }