<section id="self-presentation">
    <div class="request main-font-color">{{'selfPresentation_Headline' | translate}}</div>
    <div class="right-side-of-self-presentation">
        <div class="self-presentation">
            <p>{{'selfPresentation_Text1' | translate}}</p>

            <p>{{'selfPresentation_Text2' | translate}}</p>
            
            <p>{{'selfPresentation_Text3' | translate}}</p>
            
        </div>
        <div class="button-container">
            <a href="#contact">{{'selfPresentation_Button' | translate}}</a>
        </div>
    </div>
    <img src="./assets/img/Ellipse 9.png" class="ellipse">
</section>