<section id="self-presentation">
    <div class="request main-font-color">Let's work <br> together</div>
    <div class="right-side-of-self-presentation">
        <div class="self-presentation">
            I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their
            ideas into real life. I am looking forward to continuing my developer career with a job in a junior web
            developer position.
            If you think I’d be a good match for your projects, contact me!
        </div>
        <div class="button-container">
            <a href="#contact">Send a message</a>
        </div>
    </div>
    <img src="../../assets/img/Ellipse 9.png" class="ellipse">
</section>