section{
    position:relative;
    display:flex;
    align-items: top;
    padding-top:250px;
    margin-bottom:80px;
}

.request{
    font-size: 121px;
    font-weight:400;
    width:40vw;
    display:flex;
    justify-content: center;
    margin-right:5vw;
}

.self-presentation{
    font-family: 'montserrat', sans-serif;
    font-weight:400;
    font-size:23px;
    width:40vw;
    margin-left:5vw;
}

.right-side-of-self-presentation{
    display:flex;
    flex-direction: column;
    align-items: center;
    div{
        button{
            margin-top:40px;
            background-color:white;
            border:2px solid #5988FF;
            border-radius:10px;
            padding: 15px 30px 15px 30px;
            color:#5988FF;
            font-size:23px;
            font-weight:400;
            width:273px;
            height:67px;
            margin-bottom:20px;
            background-image: linear-gradient(to right, #ffffff 0%, rgb(255, 255, 255) 100%);
            transition:color 0.5s ease, background-image 0.5s ease;

            &:hover{
                cursor:pointer;
                color:white;
                border: 2px solid rgb(8, 73, 242);
                background-image: linear-gradient(to right, #83a6ff 0%, rgb(8, 73, 242) 100%);
                width:283px;
                height:77px;
                margin-bottom:10px;
                border-color:white;
            }
        }
    }
}

.ellipse{
    width:82px;
    height:82px;
    position:absolute;
    left:75%;
    top:15%;
}