@if(language == 'english'){
<section id="self-presentation">
    <div class="request main-font-color">Let's work <br> together</div>
    <div class="right-side-of-self-presentation">
        <div class="self-presentation">
            <p>Hello and welcome to my website! I'm Julien from Ennepetal, and I discovered my passion for programming while studying industrial engineering. Since then, I have been enthusiastic about putting the creative design ideas of talented designers into practice.</p>

            <p>With a solid technical background and an eye for aesthetics, I have specialized in developing user-friendly and appealing web applications. I take great pleasure in creating functional and visually appealing solutions that fulfill both users' expectations and designers' visions.</p>
            
            <p>If you are looking for a developer with both technical know-how and creative flair, then you have come to the right place. I look forward to working with you to transform your ideas into digital reality.</p>
            
        </div>
        <div class="button-container">
            <a href="#contact">Send a message</a>
        </div>
    </div>
    <img src="./assets/img/Ellipse 9.png" class="ellipse">
</section>
}@else {
<section id="self-presentation-german">
    <div class="request-german main-font-color">lassen sie uns <br /> zusamenarbeiten</div>
    <div class="right-side-of-self-presentation-german">
        <div class="self-presentation">
            <p>Hallo und herzlich willkommen auf meiner Seite! Ich bin Julien aus Ennepetal, und ich habe meine
            Leidenschaft für das Programmieren während meines Wirtschaftsingenieurstudiums entdeckt. Seitdem begeistert
            es mich, die kreativen Designideen talentierter Designer in die Praxis umzusetzen.</p>

            <p>Mit einem fundierten technischen Hintergrund und einem Auge für Ästhetik habe ich mich darauf spezialisiert,
            benutzerfreundliche und ansprechende Webanwendungen zu entwickeln. Es bereitet mir große Freude, funktionale
            und visuell ansprechende Lösungen zu schaffen, die sowohl die Erwartungen der Nutzer als auch die Visionen
            der Designer erfüllen.</p>

            <p>Wenn Sie auf der Suche nach einem Entwickler sind, der sowohl technisches Know-how als auch kreatives Gespür
            mitbringt, dann sind Sie bei mir genau richtig. Ich freue mich darauf, gemeinsam mit Ihnen Ihre Ideen in die
            digitale Realität zu transformieren.</p>
        </div>
        <div class="button-container">
            <a href="#contact">Nachricht senden</a>
        </div>
    </div>
    <img src="./assets/img/Ellipse 9.png" class="ellipse">
</section>
}