<section id="mywork">
    <div class="title-and-description">
        <h1>My work</h1>
        <img src="../../assets/img/Ellipse 9.png" class="ellipse1">
        <img src="../../assets/img/Ellipse 9.png" class="ellipse2">
        <img src="../../assets/img/Ellipse 9.png" class="ellipse3">
        <img src="../../assets/img/Ellipse 9.png" class="ellipse4">
        <img src="../../assets/img/Ellipse 9.png" class="ellipse5">
        <div>
            Explore a selection of my work here - Interact with <br> projects to see my skills in action.
        </div>
    </div>
    <div class="projects">
        @for (project of projects; track projects; let index = $index){
        @if(index % 2 !== 0){
        <div class="single-project reverse">
            <img src={{project.img}}>
            <div class="align-flex-end">
                <div class="skill-title">{{project.title}}</div>
                <div class="skill-enumeration">{{project.skills}}</div>
                <div class="skill-description">{{project.desciption}}</div>
                <aside class="button-container">
                    <a class="git-button">Github</a>
                    <a class="git-button" href="{{project.url}}" target="_blank">Live-Test</a>
                </aside>
            </div>
        </div>
        }@else{
        <div class="single-project">
            <img src={{project.img}}>
            <div>
                <div class="skill-title">{{project.title}}</div>
                <div class="skill-enumeration">{{project.skills}}</div>
                <div class="skill-description">{{project.desciption}}</div>
                <aside class="button-container">
                    <a class="git-button">Github</a>
                    <a class="git-button" href="{{project.url}}" target="_blank">Live-Test</a>
                </aside>
            </div>
        </div>
        }
        }
    </div>
</section>