section {
    padding-bottom: 120px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
}

.title-and-description {
    h1 {
        color: #5988FF;
        font-weight: 400;
        font-size: 96px;
    }

    div {
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-size: 23px;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.align-flex-end {
    align-items: flex-end;
}

.table-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.single-project {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 100px;

    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    img{
        width:720px;
        height:480px;
        margin-left:20px;
        &:hover{
            width:740px;
            height: 500px;
            margin-bottom:40px;
            margin-left:0px;
        }
    }
}


.skill-title {
    color: #5988FF;
    font-weight: 400;
    font-size: 45px;
}

.skill-enumeration {
    color: #5988FF;
    font-weight: 400;
    font-size: 23px;
}

.skill-description {
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.git-button {
    color: #5988FF;
    border: 2px solid #5988FF;
    border-radius: 10px;
    width:137px;
    height:65px;
    padding:20px;
    margin-top:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    font-family: 'montserrat', sans-serif;
    font-weight:400;
    font-size:23px;
    margin-bottom:20px;

    &:hover {
        cursor: pointer;
        color:white;
        border: 2px solid rgb(8, 73, 242);
        background-image: linear-gradient(to right, #83a6ff 0%, rgb(8, 73, 242) 100%);
        width:143px;
        height:77px; 
        margin-bottom:15px;
        border-color:white;
        margin-top:18px;
    }
}

.ellipse1 {
    position:absolute;
    width: 108.75px;
    height: 108.75px;
    top:-50px;
    left:500px;
}

.ellipse2 {
    position:absolute;
    width: 183px;
    height: 183px;
    top:100px;
    left:1000px;
}

.ellipse3 {
    position:absolute;
    width: 393.32px;
    height: 393.32px;
    top:500px;
    left:-200px;
    z-index:-100;
}

.ellipse4 {
    position:absolute;
    width: 652.16px;
    height: 652.16px;
    top:700px;
    left:1100px;
    z-index:-100;
}

.ellipse5 {
    position:absolute;
    width: 51px;
    height: 51px;
    top:1200px;
    left:100px;
    z-index:-100;
}