<section>
    <img src="../../assets/img/Ellipse 9.png" class="ellipse1">
    <img src="../../assets/img/Ellipse 9.png" class="ellipse2">
    <a href="#landing-page"><img src="../../assets/img/Ellipse 9.png" class="ellipse3"></a>
    <img src="../../assets/img/arrow.png" class="arrow">
    <h1>
        Contact
    </h1>
    <div class="content-container">
        <div class="left-container">
            <h2>Got a problem to solve?</h2>
            <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to
                your projects with my work.</p>
            <p class="highlighted-text">Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="right-container">
            <input type="text" placeholder="Your Name" class="input-hover">
            <input type="text" placeholder="Your email" class="input-hover">
            <textarea placeholder="our message" class="input-hover"></textarea>
            <div class="privacy-policy-container">
                <input class="checkbox" type="checkbox">
                <div class="privacy-policy">
                    I've read the <div>privacy policy</div> and agree to the processing of my
                    data as outlined.
                </div>
            </div>
            <div class="button-container">
                <button class="say-hello-button">Say hello ;)</button>
            </div>
        </div>

    </div>
</section>