<div id="contact" class="offset"></div>
<section class="contact">
    <img src="../../assets/img/Ellipse 9.png" class="ellipse1">
    <img src="../../assets/img/Ellipse 9.png" class="ellipse2">

    <div class="arrow-container">
        <a href="#landing-page" class="arrow"></a>
    </div>

    <h1>
        {{"contact_Headline" | translate}}
    </h1>
    <div class="content-container">
        <div class="left-container">
            <h2>{{"contact_Headline2" | translate}}</h2>
            <p>{{"contact_Description" | translate}}</p>
            <p class="highlighted-text">{{"contact_Question" | translate}} <b>{{"contact_Answer" | translate}}</b></p>
        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="right-container">
                <div class="form-container">
                    <label [ngClass]="{'label-active': isFocused['name'] || contactData.name}"
                        for="name">{{"contact_Name-label" | translate}}</label>
                    <input #name='ngModel' id="name" autocomplete="off" [(ngModel)]="contactData.name" name="name"
                        type="text" class="input-hover" required (focus)="onFocus('name')" (blur)="onBlur('name')">
                    <div class="form-container-validation">
                        @if(!name.valid && name.touched){
                        <img src="./assets/img/bad.png">
                        }@else if (name.valid) {
                        <img src="./assets/img/good.png">
                        }@else {}
                    </div>
                </div>

                <div class="form-container">
                    <label [ngClass]="{'label-active': isFocused['email'] || contactData.email}"
                        for="mail">{{"contact_Email-label" | translate}}</label>
                    <input #email='ngModel' id="mail" [(ngModel)]="contactData.email" name="mail" type="email"
                        class="input-hover" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                        (focus)="onFocus('email')" (blur)="onBlur('email')">
                    <div class="form-container-validation">
                        @if(!email.valid && email.touched){
                        <img src="./assets/img/bad.png">
                        }@else if (email.valid) {
                        <img src="./assets/img/good.png">
                        }@else {}
                    </div>
                </div>
                <div class="form-container">
                    <label [ngClass]="{'label-active': isFocused['message'] || contactData.message}"
                        for="message">{{"contact_Message-label" | translate}}</label>
                    <textarea #message='ngModel' [(ngModel)]="contactData.message" id="message" name="message"
                        class="input-hover" required (focus)="onFocus('message')" (blur)="onBlur('message')"></textarea>
                    <div class="form-container-validation">
                        @if(!message.valid && message.touched){
                        <img src="./assets/img/bad.png">
                        }@else if (message.valid) {
                        <img src="./assets/img/good.png">
                        }@else {}
                    </div>
                </div>
                @if(!name.valid && name.touched && !name.disabled){
                <span class="errorMessage">{{"contact_NameError" | translate}}</span>
                }
                @if (!email.valid && email.touched && !email.disabled) {
                <span class="errorMessage">{{"contact_MailError" | translate}}</span>
                }
                @if(!message.valid && message.touched && !message.disabled){
                <span class="errorMessage">{{"contact_MessageError" | translate}}</span>
                }
                <div class="privacy-policy-container">
                    <div class="checkbox-container">
                        <input #checkbox='ngModel' [(ngModel)]="checked" name="checkbox" id="privacy-policy-checkbox"
                            class="checkbox" type="checkbox" (click)="checkCheckbox()">
                    </div>
                    <div class="privacy-policy" ng-bind-html="translatedText">
                        {{"contact_PrivacyPolicy-declaration1" | translate}}
                        <a href="/Privacy-Policy" target="blank">{{"contact_PrivacyPolicy-declaration2" | translate}}</a>
                        {{"contact_PrivacyPolicy-declaration3" | translate}}
                    </div>
                </div>
                <div class="error-message-container">
                    @if(showPrivacyPolicyError && name.valid && email.valid && message.valid){
                    <span class="errorMessage">{{"contact_PrivacyPolicyError" | translate}}</span>
                    }
                </div>
                <div class="button-container">
                    <button type="submit" value="submit"
                        [ngClass]="{'allValid': name.valid && email.valid && message.valid && this.checked}"
                        class="say-hello-button">{{"contact_Button" |translate}}</button>
                </div>
            </div>
        </form>
        <div class="sendMailsucceed" [ngClass]="{'sendMailsucceedShow':mailSuccessfullySent}">
            <div>
                <h1>{{"MailSentHeadline" | translate}}</h1>
                {{"MailSentThanks" | translate}}<br />
                {{"MailSentText" | translate}}
            </div>
        </div>
    </div>
</section>