section {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
    text-align: center;

    h1 {
        font-weight: 400px;
        font-size: 90px;
        color: #5988FF;
    }

    textarea {
        resize: none;
        border: 1px solid #5988FF;
        border-radius: 10px;
        padding: 15px, 25px, 15px, 25px;
        height: 182px;
        width: 617px;
        margin-bottom: 20px;
        padding: 10px 20px;

        &:hover {
            &:hover {
                border: 2px solid #5988FF;
                height: 180px;
                width: 615px;
            }
        }
    }
}

.content-container {
    display: flex;
}

.left-container {
    font-family: 'montserrat', sans-serif;
    max-width: 600px;

    h2 {
        font-weight: 400px;
        font-size: 32px;
        color: #5988FF;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
}

.input-hover {
    border: 1px solid #5988FF;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    height: 30px;
    width: 617px;
    margin-bottom: 20px;
    padding: 10px 20px;

    &:hover {
        cursor: pointer;
        border: 2px solid #5988FF;
        height: 28px;
        width: 615px;
    }
}

.highlighted-text {
    color: #5988FF;
}

// .checkbox {
//     margin: 0;
//     margin-right: 10px;
//     -ms-transform: scale(1.5);
//     /* IE */
//     -moz-transform: scale(1.5);
//     /* FF */
//     -webkit-transform: scale(1.5);
//     /* Safari and Chrome */
//     -o-transform: scale(1.5);
//     /* Opera */
//     transform: scale(1.5);

//     &:hover {
//         cursor: pointer;
//     }
// }

.privacy-policy-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
        margin: 0;
        margin-right: 10px;
        -ms-transform: scale(1.5);
        /* IE */
        -moz-transform: scale(1.5);
        /* FF */
        -webkit-transform: scale(1.5);
        /* Safari and Chrome */
        -o-transform: scale(1.5);
        /* Opera */
        transform: scale(1.5);
    }

    div {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;

        div {
            padding: 0px 4px;
            color: #5988FF;
        }
    }

    &:hover {
        cursor: default;

        input {
            cursor: pointer;
            box-shadow: 0.1px 0.1px 3px 1px rgba(0, 0, 0, 0.459);
            box-shadow: inset 0.1px 0.1px 3px 1px rgba(0, 0, 0, 0.459);
        }

        div {
            div {
                text-decoration: underline;
                font-weight: bolder;
            }
        }
    }
}

.button-container {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

    button {
        // color: lightgray;
        // font-family: 'Montserrat', sans-serif;
        // font-weight: 400;
        // font-size: 23px;
        // width: 190px;
        // height: 58px;
        // padding: 15px 30px 15px 30px;
        // gap: 10px;
        // border-radius: 10px;
        // border: 2px solid lightgray;
        // background-color: white;

        color: #5988FF;
        border: 2px solid #5988FF;
        border-radius: 10px;
        width: 200px;
        height: 65px;
        padding: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-size: 23px;
        margin-bottom: 20px;

        &:hover {
            cursor: pointer;
            color: white;
            border: 2px solid rgb(8, 73, 242);
            background-image: linear-gradient(to right, #83a6ff 0%, rgb(8, 73, 242) 100%);
            width: 220px;
            height: 77px;
            margin-bottom: 10px;
            border-color: white;
            margin-top: 18px;
        }
    }
}

.say-hello-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 23px;
    width: 190px;
    height: 58px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: white;
}

.ellipse1 {
    z-index: -99;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 400px;
    left: 242px;
}

.ellipse2 {
    z-index: -99;
    width: 73px;
    height: 73px;
    position: absolute;
    top: 700px;
    right: 150px;
}

.ellipse3 {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 700px;
    left: 31px;

    &:hover {
        cursor: pointer;
    }
}

.arrow {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 710px;
    left: 41px;
    background-image: url('../../assets/img/arrow.png');

    &:hover {
        cursor: pointer;
        background-image: url('../../assets/img/arrow-hover.png');
    }
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.checkbox-container{
    margin-left:10px;
    width:50px;

    .checkbox{
        width:50px !important;
    }
}

@media(max-width:1100px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content-container {
        flex-direction: column;
        align-items: center;

    }

    .ellipse1 {
        top: 500px;
    }

    .arrow {
        top: 920px;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:700px) {
    .right-container {
        width: auto;
        align-items: center;

        input,
        textarea {
            width: 400px;
        }
    }

    section {
        textarea {
            &:hover {
                &:hover {
                    width: 400px;
                }
            }
        }
    }

    .privacy-policy-container {
        div {
            display: block;
        }
    }

    .arrow {
        top: 980px;
    }

    .privacy-policy-container {
        &:hover {
            input {
                box-shadow: none;
            }
        }
    }
}

@media(max-width:582px) {
    .arrow {
        top: 990px;
    }
}

@media(max-width:500px) {
    .right-container {

        input,
        textarea {
            width: 200px;
        }
    }

    .ellipse1 {
        top: 550px;
        left: 100px;
    }
}

@media(max-width:437px) {
    .arrow {
        left: 10px;
        top: 1045px;
    }
}

@media(max-width:395px) {
    .arrow {
        top: 1060px;
    }
}

@media(max-width:370px) {

    section {
        h1 {
            font-size: 80px;
        }
    }

    .arrow {
        top: 1100px;
    }

    .button-container {
        width: 150px;
    }
}

@media(max-width:450px){
    .ellipse1{
        left:60px;
    }
}