section {
    position: relative;
    margin-bottom: 80px;
    text-align: center;
    max-width: 1920px;
    width: 100vw;
    //background-color:rgb(255, 178, 178);

    h1 {
        font-weight: 400px;
        font-size: 90px;
        color: #5988FF;
        margin-top:20px;
    }

    textarea {
        resize: none;
        border: 1px solid #5988FF;
        border-radius: 10px;
        height: 182px;
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 20px;

        &:hover {
            &:hover {
                border: 2px solid #5988FF;
            }
        }
    }
}

.content-container {
    display: flex;
    justify-content: center;
}

.left-container {
    font-family: 'montserrat', sans-serif;
    max-width: 600px;

    h2 {
        font-weight: 400px;
        font-size: 32px;
        color: #5988FF;
    }
    p{
        margin-left: 15px;
        margin-right: 15px;
    }
}

.right-container {
    display: flex;
    flex-direction: column;
}

.input-hover {
    border: 1px solid #5988FF;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 22px;
    padding: 10px 20px;


    &:hover {
        cursor: pointer;
        border: 2px solid #5988FF;
        margin-bottom: 20px;
    }
}

.highlighted-text {
    color: #5988FF;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.privacy-policy-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;


    input {
        margin: 0;
        margin-right: 10px;
        -ms-transform: scale(1.5);
        /* IE */
        -moz-transform: scale(1.5);
        /* FF */
        -webkit-transform: scale(1.5);
        /* Safari and Chrome */
        -o-transform: scale(1.5);
        /* Opera */
        transform: scale(1.5);
    }

    div {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        width: auto;

        div {
            padding: 0px 4px;
            color: #5988FF;
        }
    }

    &:hover {
        cursor: default;

        input {
            cursor: pointer;
            box-shadow: 0.1px 0.1px 3px 1px rgba(0, 0, 0, 0.459);
            box-shadow: inset 0.1px 0.1px 3px 1px rgba(0, 0, 0, 0.459);
        }

        div {
            div {
                text-decoration: underline;
            }
        }
    }
}

.button-container {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.form-container {
    position: relative;
    margin-top: 5px;

    label {
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 10px;
    }
}

.form-container-validation {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 40px;
}

.label-active {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 10px;
    transform: translateY(-32px);
    transition: all 0.3s ease;
}

.say-hello-button {
    color: gray;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 65px;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 400;
    font-family: 'montserrat', sans-serif;
}

.allValid {
    color: #5988FF !important;
    border: 2px solid #5988FF !important;

    &:hover {
        cursor: pointer;
        color: white !important;
        border: 2px solid rgb(8, 73, 242);
        background-image: linear-gradient(to right, #83a6ff 0%, rgb(8, 73, 242) 100%);
        width: 220px;
        height: 77px;
        margin-bottom: 10px;
        border-color: white;
        margin-top: 18px;
    }
}

.ellipse1 {
    z-index: -99;
    width: 204px;
    height: 204px;
    position: absolute;
    top: 400px;
    left: 242px;
    opacity: 0.4;
}

.ellipse2 {
    z-index: -99;
    width: 73px;
    height: 73px;
    position: absolute;
    top: 700px;
    right: 150px;
    opacity: 0.4;
}

.ellipse3 {
    width: 39px;
    height: 39px;
    position: absolute;
    top: 700px;
    left: 31px;
    opacity:0.4;

    &:hover {
        cursor: pointer;
    }
}

.arrow-container{
    position:absolute;
    bottom:150px;
    left:100px;
    width:39px;
    height:39px;
}

.arrow {
    display:flex;
    width: 39px;
    height: 39px;
    background-image: url('../../assets/img/arrow.png');

    &:hover {
        cursor: pointer;
        background-image: url('../../assets/img/arrow-hover.png');
    }
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.checkbox-container {
    margin-left: 10px;
    width: 50px;

    .checkbox {
        width: 50px !important;
        box-shadow: unset !important;
    }
}

.error-message-container {
    margin-top: 10px;
}

.errorMessage {
    color: red;
    font-weight: bold;
    background-color: rgb(246, 175, 175);
    border: 2px solid red;
    border-radius: 10px;
    padding: 3px;
    margin-bottom:15px;
}

.sendMailsucceed {
    z-index: -999;
    position: absolute;
    bottom: 45%;
    width: 100%;
    opacity: 0; 
    transition: opacity 1s ease-in-out;

    h1 {
        letter-spacing: 10px;
        font-size: 40px;
    }

    div {
        background-color: rgba(222, 235, 238, 0.95);
        padding: 5px;
        border: 2px solid rgba(103, 146, 255);
        border-radius: 10px;
        z-index: 999;
        font-size: 20px;
        hyphens: auto;
        margin: 0 20px;
    }
}

.sendMailsucceedShow {
    opacity: 1 !important;
    z-index: 999;
}

@media(max-width:1250px) {
    form {
        margin-right: 10px;
    }
}

@media(max-width:1100px) {
    #contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .content-container {
        flex-direction: column;
        align-items: center;

    }

    .ellipse1 {
        top: 500px;
    }

    .left-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .arrow-container{
        bottom:0;
        left:0;
    }
}

@media (max-width:900px){
    .arrow-container{
        left:50px;
    }
}

@media (max-width:700px) {
    .right-container {
        width: auto;
        align-items: center;

        input,
        textarea {
            width: 400px;
        }
    }

    section {
        textarea {
            &:hover {
                &:hover {
                    width: 400px;
                }
            }
        }
    }

    .privacy-policy-container {
        div {
            display: block;
        }
    }

    .privacy-policy-container {
        &:hover {
            input {
                box-shadow: none;
            }
        }
    }
}

@media(max-width:582px) {
    .left-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width:500px) {
    .right-container {

        input,
        textarea {
            width: 200px;
        }

        .input-hover {
            &:hover {
                width: 200px !important;
            }
        }
    }

    .ellipse1 {
        top: 550px;
        left: 100px;
    }

    .ellipse2{
        top:900px;
        right:100px;
    }
}

@media(max-width:370px) {

    section {
        h1 {
            font-size: 80px;
        }
    }

    .button-container {
        width: 150px;
    }
}

@media(max-width:450px) {
    .ellipse1 {
        left: 60px;
    }
}