@if(!landscapeMode){
<section>
    <app-landing-page></app-landing-page>
    <app-self-presentation></app-self-presentation>
    <app-skillset></app-skillset> 
    <app-my-work></app-my-work>
    <app-contact-me></app-contact-me>
    <app-footer></app-footer>
</section>
}@else{
<section class="landscape-warning main-font-color">
    {{"turnDevice" | translate}}
    <div>
        <img src="./assets/img/Ellipse 9.png" class="ellipse1">
    </div>
    <div>
        <img src="./assets/img/Ellipse 9.png" class="ellipse2">
    </div>
    <div>
        <img src="./assets/img/Ellipse 9.png" class="ellipse3">
    </div>
</section>
}