<app-header></app-header>
<section>
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse1">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse2">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse3">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse4">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse5">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse6">
    <div>
        <h1>{{"PP_Headline" | translate}}</h1>

        <h3>1. {{"PP_SubHeadline1" | translate}}</h3>

        <h4>
            {{"PP_GeneralInformationHeadline" | translate}}
        </h4>
        <p>
            {{"PP_GenerellInformation_Text" | translate}}
        </p>

        <h4>
            {{"PP_DataCollectionOnThisWebsiteHeadline" | translate}}
        </h4>
        <p>
            {{"PP_DataCollectionOnThisWebsiteText" | translate}}
        </p>
        <h4>
            {{"PP_HowDoWeCollectYourDataHeadline" | translate}}
        </h4>
        <p>
            {{"PP_HowDoWeCollectYourDataText1" | translate}}
        </p>
        <p>
            {{"PP_HowDoWeCollectYourDataText2" | translate}}
        </p>
        <h4>
            {{"PP_WhatDoWeUseYourDataForHeadline" | translate}}
        </h4>
        <p>
            {{"PP_WhatDoWeUseYourDataForText" | translate}}
        </p>
        <h4>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataHeadline" | translate}}
        </h4>
        <p>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataText1" | translate}}
        </p>

        <p>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataText2" | translate}}
        </p>
        <h3>
            2. {{"PP_SubHeadline2" | translate}}
        </h3>
        <p>
            {{"PP_SubHeadline2AdditionalText" | translate}}
            
        </p>
        <h4>
            {{"PP_ExternalHostingHeadline" | translate}}
        </h4>
        <p>
            {{"PP_ExternalHostingText1" | translate}}

        </p>
        <p>
            {{"PP_ExternalHostingText2" | translate}}
        </p>
        <p>
            {{"PP_ExternalHostingText3" | translate}}
        </p>
        <h4>
            {{"PP_HostsHeadline" | translate}}
        </h4>
        <p>
            ALL-INKL.COM, Hauptstraße 68, D-02742 Friedersdorf
        </p>
        <h3>
            
            3. {{"PP_SubHeadline3" | translate}}
        </h3>
        <h4>
            {{"PP_DataProtectionHeadline" | translate}}
        </h4>
        <p>
            {{"PP_DataProtectionText1" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText2" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText3" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText4" | translate}}
        </p>
        <p>
            Julien Quabeck<br/>
            Schwalbenweg 2<br/>
            D-58256 Ennepetal<br/><br/>

            {{"imprint_Fon" | translate}}: {{"imprint_No" | translate}} <br/>
            E-Mail: j.quabeck&#64;gmx.net
        </p>
        <p>
            {{"PP_DataProtectionText5" | translate}}
        </p>
        <h4>
            {{"PP_StorageDurationHeadline" | translate}}
        </h4>
        <p>
            {{"PP_StorageDurationText" | translate}}
        </p>
        <h4>
            {{"PP_GeneralInformationOnTheLegalBasisHeadline" | translate}}
        </h4>
        <p>
            {{"PP_GeneralInformationOnTheLegalBasisText" | translate}}
        </p>
        <h4>
            {{"PP_RecipientsHeadline" | translate}}
        </h4>
        <p>
            {{"PP_RecipientsText" | translate}}
        </p>
        <h4>
            {{"PP_WithdrawalOfYourConsetHeadline" | translate}}

        </h4>
        <p>
            {{"PP_WithdrawalOfYourConsetText" | translate}}
        </p>
        <h4>
            {{"PP_RightToObjectHeadline" | translate}}         
        </h4>
        <p>
            {{"PP_RightToObjectText" | translate}}
        </p>
        <h4>
            {{"PP_RightToLodgeHeadline" | translate}}
        </h4>
        <p>
            {{"PP_RightToLodgeText" | translate}}
        </p>
        <h4>
            {{"PP_RightToDataHeadline" | translate}}
        </h4>
        <p>
            {{"PP_RightToDataText" | translate}}
        </p>
        <h4>
            {{"PP_InformationHEadline" | translate}}
        </h4>
        <p>
            {{"PP_InformationText" | translate}}
        </p>
        <h4>
            {{"PP_RightTORestrictionHeadline" | translate}}
        </h4>
        <p>
            {{"PP_RightTORestrictionText1" | translate}}
        </p>
        <p>
            {{"PP_RightTORestrictionText2" | translate}}
        </p>
        <p>
            {{"imprint_source" | translate}}: https://www.e-recht24.de
        </p>
        <a href="landing-Page"><img src="./assets/img/arrow_left.png">{{"imprint_BackToLandingPage" | translate}}</a>
    </div>
</section>
<app-footer></app-footer>