<app-header></app-header>
<section>
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse1">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse2">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse3">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse4">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse5">
    <img src="./assets/img/Ellipse 9.png" class="ellipse ellipse6">
    <div>
        <h1>{{"PP_Headline" | translate}}</h1>

        <h3>1. {{"PP_SubHeadline1" | translate}}</h3>

        <h4>
            {{"PP_GeneralInformationHeadline" | translate}}
        </h4>
        <p>
            {{"PP_GenerellInformation_Text" | translate}}
        </p>

        <h4>
            {{"PP_DataCollectionOnThisWebsiteHeadline" | translate}}
        </h4>
        <p>
            {{"PP_DataCollectionOnThisWebsiteText" | translate}}
        </p>
        <h4>
            {{"PP_HowDoWeCollectYourDataHeadline" | translate}}
        </h4>
        <p>
            {{"PP_HowDoWeCollectYourDataText1" | translate}}
        </p>
        <p>
            {{"PP_HowDoWeCollectYourDataText2" | translate}}
        </p>
        <h4>
            {{"PP_WhatDoWeUseYourDataForHeadline" | translate}}
        </h4>
        <p>
            {{"PP_WhatDoWeUseYourDataForText" | translate}}
        </p>
        <h4>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataHeadline" | translate}}
        </h4>
        <p>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataText1" | translate}}
        </p>

        <p>
            {{"PP_WhatRightsDoYouHaveRegardingYourDataText2" | translate}}
        </p>
        <h3>
            2. {{"PP_SubHeadline2" | translate}}
        </h3>
        <p>
            {{"PP_SubHeadline2AdditionalText" | translate}}
            
        </p>
        <h4>
            {{"PP_ExternalHostingHeadline" | translate}}
        </h4>
        <p>
            {{"PP_ExternalHostingText1" | translate}}

        </p>
        <p>
            {{"PP_ExternalHostingText2" | translate}}
        </p>
        <p>
            {{"PP_ExternalHostingText3" | translate}}
        </p>
        <h4>
            {{"PP_HostsHeadline" | translate}}
        </h4>
        <p>
            ALL-INKL.COM, Hauptstraße 68, D-02742 Friedersdorf
        </p>
        <h3>
            
            3. {{"PP_SubHeadline3" | translate}}
        </h3>
        <h4>
            {{"PP_DataProtectionHeadline" | translate}}
        </h4>
        <p>
            {{"PP_DataProtectionText1" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText2" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText3" | translate}}
        </p>
        <p>
            {{"PP_DataProtectionText4" | translate}}
        </p>
        <p>
            Julien Quabeck<br/>
            Schwalbenweg 2<br/>
            D-58256 Ennepetal<br/><br/>

            {{"imprint_Fon" | translate}}: {{"imprint_No" | translate}} <br/>
            E-Mail: j.quabeck&#64;gmx.net
        </p>
        <p>
            {{"PP_DataProtectionText5" | translate}}
        </p>
        <h4>
            {{"PP_StorageDurationHeadline" | translate}}
        </h4>
        <p>
            {{"PP_StorageDurationText" | translate}}
        </p>
        <h4>
            {{"PP_GeneralInformationOnTheLegalBasisHeadline" | translate}}
        </h4>
        <p>
            {{"PP_GeneralInformationOnTheLegalBasisText" | translate}}
        </p>
        <h4>
            Recipients of personal data
        </h4>
        <p>
            As part of our business activities, we work together with various external bodies. In some cases, it is also
            necessary to transfer personal data to these external bodies. We only pass on personal data to external
            bodies if this is necessary for the fulfillment of a contract, if we are legally obliged to do so (e.g.
            passing on data to tax authorities), if we have a legitimate interest in doing so, or if we have a
            legitimate interest in doing so. According to Art. 6 para. 1 lit. f GDPR or if another legal basis permits
            the transfer of data. Permitted. When using processors, we only pass on our customers' data based on a valid
            contract for order processing. In the case of joint processing, a joint processing agreement is concluded.
        </p>
        <h4>
            Withdrawal of your consent to data processing
        </h4>
        <p>
            Many data processing operations are only possible with your express consent. You can revoke an already
            revoked consent at any time. The legality of the data processing carried out until the revocation data
            processing remains unaffected by the revocation.
        </p>
        <h4>
            Right to object to the collection of data in special cases and to direct marketing (Art. 21 GDPR)
        </h4>
        <p>
            IF THE DATA PROCESSING IS BASED ON ART. 6 ABS. 1 LIT. E OR F GDPR, YOU HAVE THE RIGHT TO OBJECT TO THE
            PROCESSING OF YOUR DATA AT ANY TIME ON GROUNDS RELATING TO YOUR PARTICULAR SITUATION; THIS ALSO APPLIES TO
            PROFILING BASED ON THESE PROVISIONS. THE RESPECTIVE LEGAL BASIS ON WHICH PROCESSING IS BASED CAN BE FOUND IN
            THIS PRIVACY POLICY. IF YOU OBJECT, WE WILL NO LONGER PROCESS YOUR DATA UNLESS WE CAN DEMONSTRATE COMPELLING
            LEGITIMATE GROUNDS FOR THE PROCESSING THAT OVERRIDE YOUR INTERESTS, RIGHTS AND FREEDOMS OR THE PROCESSING
            SERVES THE ESTABLISHMENT, EXERCISE OR DEFENSE OF LEGAL CLAIMS (OBJECTION UNDER ART. 21 PARA. 1 GDPR). IF
            YOUR DATA IS PROCESSED FOR THE PURPOSE OF DIRECT MARKETING, YOU HAVE THE RIGHT TO OBJECT AT ANY TIME TO THE
            PROCESSING OF YOUR DATA. TO OBJECT AT ANY TIME TO THE PROCESSING OF PERSONAL DATA CONCERNING YOU FOR THE
            PURPOSE OF SUCH MARKETING, WHICH INCLUDES PROFILING TO THE EXTENT THAT IT IS RELATED TO SUCH DIRECT
            MARKETING. IF YOU OBJECT, YOUR DATA WILL SUBSEQUENTLY NO LONGER BE USED FOR THE PURPOSE OF DIRECT MARKETING
            (OBJECTION UNDER ART. 21 PARA. 2 GDPR).
        </p>
        <h4>
            Right to lodge a complaint with the competent supervisory authority
        </h4>
        <p>
            In the event of violations of the GDPR, data subjects have the right to complain to a supervisory authority,
            in particular in the Member State of their habitual residence, place of work, or place of the alleged
            infringement. The right to complain exists without prejudice to any other administrative or judicial legal
            remedies.
        </p>
        <h4>
            Right to data portability
        </h4>
        <p>
            You have the right to have data that we process automatically based on your consent or in fulfillment of a
            contract handed over to you or a third party in a common, machine-readable format. If you request the direct
            transfer of the data to another controller, this will only be done insofar as it is technically feasible.
        </p>

        <h4>
            Information, correction and deletion
        </h4>
        <p>
            Within the framework of the applicable legal provisions, you have the right at any time to free information
            about your stored personal data, its origin and recipient, and the purpose of the data processing and, if
            applicable, a right to correct or delete this data. Right to rectification or erasure of this data. You can
            contact us at any time if you have further questions on the subject of personal data you can contact us at
            any time.
        </p>
        <h4>
            Right to restriction of processing
        </h4>
        <p>
            You have the right to request the restriction of the processing of your data. For this you can you can
            contact us at any time. The right to restriction of processing exists in the following cases:
        </p>
        <p>
            If you dispute the accuracy of your data stored by us, we will need as a rule usually time to check this.
            For the duration of the review, you have the right to request the restriction of processing of your
            processing of your data. If the processing of your data has occurred/is occurring unlawfully, you can
            request the erasure of your data instead of the erasure the request the restriction of data processing. If
            we no longer need your data, but you need it for the exercise, defense, or assertion of legal claims, you
            have the assertion of legal claims, and you have the right to request the restriction of the processing of
            the processing of your data instead of erasure. If you have objected under Art. 21 para. 1 GDPR, a balance
            must be struck between your and our interests must be carried out. As long as it has not yet been determined
            whose interests prevail, you have the right to request the restriction of the processing of your data. If
            you have restricted the processing of your data, this data - from its Apart from its storage, this data may
            only be processed with your consent or for the establishment, exercise, or defense of legal claims or the
            protection of the rights of another natural or legal person or for reasons of important public interest of
            the European Union or of a Member State. Interest of the European Union or a Member State.
        </p>
        <p>
            source: https://www.e-recht24.de
        </p>
        <a href="landing-Page"><img src="./assets/img/arrow_left.png">back to start</a>
    </div>
</section>
<app-footer></app-footer>