
<section>
    <app-header></app-header>
    <img src="./assets/img/Ellipse 9.png" class="ellipse1">
    <img src="./assets/img/Ellipse 9.png" class="ellipse2">
    <img src="./assets/img/Ellipse 9.png" class="ellipse3">
    <aside>
        <h1>{{"imprint_Headline" | translate}}</h1>

        <p>Julien Quabeck<br />
            Schwalbenweg 2<br />
            58256 Ennepetal</p>

        <h2>{{"imprint_ContactDataHeadline" | translate}}</h2>
        <p>{{"imprint_Fon" | translate}}: {{"imprint_No" | translate}}<br/>
            E-Mail: j.quabeck&#64;gmx.net</p>

        <p>{{"imprint_source" | translate}}: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>

        <a href="landing-Page" class="back"><img src="./assets/img/arrow_left.png">{{"imprint_BackToLandingPage" | translate}}</a>
    </aside>
    <app-footer></app-footer>
</section>
