<section>
    <img src="./assets/img/Ellipse 9.png" class="ellipse1">
    <img src="./assets/img/Ellipse 9.png" class="ellipse2">
    <img src="./assets/img/Ellipse 9.png" class="ellipse3">
    <aside>
        <h1>Impressum</h1>

        <p>Julien Quabeck<br />
            Schwalbenweg 2<br />
            58256 Ennepetal</p>

        <h2>contact</h2>
        <p>Fon: 0172 / 9815185<br />
            E-Mail: j.quabeck&#64;gmx.net</p>

        <p>source: <a
                href="https://www.e-recht24.de/impressum-generator.html">https://www.e-recht24.de/impressum-generator.html</a>
        </p>

        <a href="landing-Page" class="back"><img src="./assets/img/arrow_left.png">back to main-page</a>
    </aside>
</section>