<section id="landing-page" class="main">
    <div class="content">
        <img src="./assets/img/Ellipse 9.png" class="ellipseBehindPicture">
        <app-header></app-header>
        <div class="name">
            {{'landingPage_Hello' | translate}}<br>
            <div class="title">
                FRONTEND<br>
                DEVELOPER
            </div>
        </div>
        <img src="./assets/img/Ellipse 9.png" class="ellipseBottomFromLandingPage">
        <div class="scroll">
            SCROLL
            <div>

            </div>
        </div>
        <div class="me">
            <img src="./assets/img/ich.png" class="me-img">
        </div>
        <app-social-media class="socialMediaContainer"></app-social-media>
    </div>
</section>