<section id="landing-page" class="main">
    <app-header></app-header>
    <div class="content">
        <img src="./assets/img/Ellipse 9.png" class="ellipseBehindPicture">
        <div class="GreetingAndImg">
            <div class="me">
                <img src="./assets/img/ich.png" class="me-img">
            </div>
            <div class="nameAndTitle">
                <div class="name">
                    {{'landingPage_Hello' | translate}}
                </div>
                <div class="title">
                    FRONTEND<br>
                    DEVELOPER
                </div>
            </div>
        </div>
        <img src="./assets/img/Ellipse 9.png" class="ellipseBottomFromLandingPage">
        <div class="scroll">
            SCROLL
            <div>

            </div>
        </div>
        <app-social-media class="socialMediaContainer"></app-social-media>
    </div>
    <!-- <div class="content">
        <img src="./assets/img/Ellipse 9.png" class="ellipseBehindPicture">

        <div class="GreetingAndImg">
            <div class="me">
                <img src="./assets/img/ich.png" class="me-img">
            </div>
            <div class="nameAndTitle">
                <div class="name">
                {{'landingPage_Hello' | translate}}
                </div>
                <div class="title">
                    FRONTEND<br>
                    DEVELOPER
                </div>
            </div>
        </div>
        <img src="./assets/img/Ellipse 9.png" class="ellipseBottomFromLandingPage">
        <div class="scroll">
            SCROLL
            <div>

            </div>
        </div>
        <app-social-media class="socialMediaContainer"></app-social-media>
    </div> -->
</section>