.main {
    position: relative;
    width: 99vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, white 0%, rgb(240, 239, 239) 90%);
    overflow:hidden;
}

.name {
    font-family: 'montseerat', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    color: #5988FF;
    position: absolute;
    width: 645px;
    height: 61px;
    top: 227px;
    left: 42%;
}

.title {
    font-family: 'Baloo 2', sans-serif;
    font-size: 128px;
    font-weight: 800;
    line-height: 153.6px;
    letter-spacing: -0.025em;
    text-align: left;
}

.ellipseBehindPicture {
    position: absolute;
    width: 892px;
    height: 892px;
    top: -71px;
    left: -199px;
}

.scroll {
    position: absolute;
    top: 70%;
    left: 70%;
    bottom:0;
    width:50px;
    font-family: 'montserrat', sans-serif;
    color: #5988FF;
    font-weight: 500;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
        position:absolute;
        bottom:0;
        top:25px;
        width: 1px;
        background-color: #5988FF;
        // height: 480px;
        border: 2px solid #5988FF;
    }
}

.ellipseBottomFromLandingPage {
    position: absolute;
    width: 206px;
    height: 206px;
    bottom: -103px;
    left: 50%;
}

app-social-media {
    position: absolute;
    right: 200px;
    top: 789px;
}

.me{
    position:relative;
    left:0;
    bottom:0px;
    height:100vh;
    width:100vw;
}

.me-img {
    position: absolute;
    bottom: 60px;
    z-index: 900;
    transform: rotate(-0.8deg);
}

@media(max-width: 1650px){
    .ellipseBehindPicture{
        width:600px;
        height:600px;
    }

    .me-img{
        transform:scale(0.9);
        bottom:60px;
    }
}

@media (max-width: 1475px){
    .name{
        left:40%;
        font-size:56px;
        div{
            font-size:106px;
        }
    }
}

@media(max-width: 1180px){
    .me-img{
        transform:scale(0.6);
        bottom:-116px;
    }

    .name{
        left:20%;
        font-size:56px;
        div{
            font-size:106px;
        }
    }

    .ellipseBehindPicture{
        width:350px;
        height:350px;
    }
}

@media(max-width:1050px){
    .socialMediaContainer{
        right:100px;
    }

    .me-img{
        left:-120px;
    }
}

@media(max-width:900px){
    .name{
        left:10%;
    }

    .scroll{
        left:75%;
    }
}

@media(max-width:840px){
    .scroll{
        display:none;
    }

    .ellipseBottomFromLandingPage{
        display:none;
    }

    .socialMediaContainer{
        display:none;
    }

    .ellipseBehindPicture{
        right:0;
    }

    .me-img{
        left:5%;
    }

    .name{
        font-size:40px;
        left:5%;
        div{
            font-size:80px;
            line-height: 90px;
        }
    }
}

@media(max-width:700px){
    .ellipseBehindPicture{
        height:65vh;
        width:125vw;
    }

    .name{
        color:white;
        text-shadow: -1px 0 #5988FF, 0 1px #5988FF, 1px 0 #5988FF, 0 -1px #5988FF;
        font-size:30px;
        div{
            font-size:60px;
        }
    }
}

@media(max-width:610px){
    .name{
        font-size:20px;
        div{
            font-size:40px;
        }
    }
}