section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #a0bbff 0%, #5988FF 10%);
    margin-top: 40px;
    padding-bottom:40px;
    width:100vw;
}

.content{
    width:100vw;
    max-width:1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skillset-headline{
    color:white;
    font-family: 'Baloo 2', sans-serif;
    font-weight:400;
    font-size:96px;
    text-align:center;
    margin-top:10px;
}

.skills-container{
    width:80%;
    max-width:1024px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
}

.single-skill-container{
    color:white;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    padding-left:5px;
    padding-right:5px;
    width:75px;

    &:hover{
        font-weight:bold;
        padding-left:4px;
        padding-right:4px;
        width:77px;
        img{
            margin-bottom:5px;
            margin-top:-5px;
        }
    }
}

@media(max-width:500px){
    .skillset-headline{
        font-size:80px;
    }
}

@media(max-width:450px){
    .skills-container{
        width:90%;
    }

    .single-skill-container{
        img{
            width:50px;
        }
    }
}

@media(max-width:420px){
    .skillset-headline{
        font-size:70px;
    }
}

@media (max-width:400px){
    .skillset-headline{
        margin-bottom:20px;
        line-height:80px;
    }
}

@media (max-width:370px){
    .skillset-headline{
        font-size:60px;
    }
}

 @media (max-width:350px){
    .skillset-headline{
        font-size:80px;
    }
 }