<section id="skillset">
    <div class="content">
        @if(language == 'english'){
        <div class="skillset-headline">skill set</div>
        }@else {
        <div class="skillset-headline">Meine Skills</div>
        }
        <div class="skills-container">
            @for(skill of skills; track skills; let index = $index){
            <div class="single-skill-container">
                <img class="single-skill" src={{skill.url}}>
                <p>{{skill.name}}</p>
            </div>
            }
        </div>
    </div>
</section>