.socialMedia {
    display: flex;
    gap: 25px;
    flex-direction: column;
    transition: transform 1s ease;

    a {
        img {
            &:hover {
                cursor: pointer;
                // transform: translatex(-10px)
            }
        }
    }
}

.delay{
    animation: jumping 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.delay1 {
    animation-delay: 0.33s;
}

.delay2 {
    animation-delay: 0.66s;
}