.socialMedia {
    display: flex;
    gap: 25px;
    flex-direction: column;
    transition: transform 1s ease;

    a {
        img {
            &:hover {
                cursor: pointer;
                transform: translatex(-10px)
            }
        }
    }
}