<section>
    <div class="content">
        <a href="#landing-page"><img class="logo" src="./assets/img/logo.png"></a>
        <div class="info">
            <p>© Julien Quabeck 2024</p>
            <a href="Imprint">{{"FooterImprint" | translate}}</a>
            <a href="Privacy-Policy">{{"FooterPrivacyPolicy" | translate}}</a>
        </div>
        <div class="social-media">
            <a href="https://github.com/JulienQuabeck" target="_blank"><img src="./assets/img/git_white.png"></a>
            <a href="#contact"><img src="./assets/img/mail_white.png"></a>
            <a href="https://www.linkedin.com/in/julien-quabeck-09385a319/" target="_blank"><img
                    src="./assets/img/linkedin_white.png"></a>
        </div>
    </div>
</section>