<section>
    <a href="#landing-page"><img class="logo" src="./assets/img/logo.png"></a>
    <div>
        <p>© Julien Quabeck 2024</p>
        @if(language == 'english'){
            <a href="Imprint">imprint</a>
            <a href="Privacy-Policy">privacy policy</a>
        }@else {
            <a href="Imprint">Impressum</a>
            <a href="Privacy-Policy">Datenschutzerklärung</a>
        }     

    </div>
    <div class="social-media">
        <a href="https://github.com/JulienQuabeck" target="_blank"><img src="./assets/img/git_white.png"></a>
        <a href="#contact"><img src="./assets/img/mail_white.png"></a>
        <a href="https://www.linkedin.com/in/julien-quabeck-09385a319/" target="_blank"><img src="./assets/img/linkedin_white.png"></a>
    </div>
</section>